.container {
background-color: antiquewhite;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;



    >.single-card{
     background-color: black;
     width: 800px;
     height: 600px;


    }
}